__pycache__/
*.pyc
.env
.oenv/
chip_flooring_env/__pycache__/
chip_flooring_env/server/__pycache__/
.venv/

__pycache__/
*.pyc
.env
oenv/
.venv/
chip_flooring_env/__pycache__/
chip_flooring_env/server/__pycache__/
chip_flooring_env/openenv_chip_flooring_env.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/

